@font-face {
    font-family: "typewriter";
    src: 
        url(./fonts/veteran_typewriter-webfont.woff2) format("woff2"),
        url(./fonts/veteran_typewriter-webfont.woff) format("woff");
        font-weight: normal;
        font-style: normal;
}

:root {
    --font-logo: clamp(1.5rem, 1.5rem + 1vw, 5rem);
    --font-h1: clamp(1rem, 1rem + 1vw, 3rem);
    --font-p: clamp(0.6rem, 0.6rem + 1vw, 2rem);
}

* {
    margin: 0;
    padding: 0;
    burder: 1px solid red;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: yellow;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-container {
    position: relative;
    margin-right: auto;
    background-color: pink;
    height: 100vh;
    width: 33vw;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo {
    display: flex;
    align-content: center;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.9);
    opacity: 0.8;
    top: 10vh;
    width: 100%;
    height: 20vh;
}

.logo img {
    object-fit: scale-down;
    min-width: 150px;
    width: 33%;
    align-self: center;
    margin-right: auto;
    background-color: green;
    padding: 0px 15px;
}

.logo #brand {
    display: flex;
    font-family: "typewriter";
    letter-spacing: 4px;
    color: aliceblue;
    font-size: var(--font-logo);
    font-weight: 800;
    text-align: center;
    align-items: center;
    margin: auto;

}

.body-container {
    background-color: blueviolet;
    width: 67vw;
}

.text-container {
    display: flex;
    align-items: left;
    padding: 5vh 5vw;
    overflow: hidden;
    flex-direction: column;
}

h1 {
    font-size: var(--font-h1);
    padding-bottom: 3vh;
}

.text-container p {
    font-size: var(--font-p);
}

.text-container {
    background-color: brown;
    height: 25vh;

}

.form-container {
    background-color: greenyellow;
}

form {
    width: 100%;
    margin: 30px auto;
    background-color: whitesmoke;
    font-size: var(--font-p);
    padding: 40px 140px;
}

label,
input,
select {
    display: block;
    width: 100%;
    padding: 5px;
    height: 50px;
    box-sizing: border-box;
    font-size: inherit;
    border-color: #75757770;
}

label {
}

select {
    xappearance: none;
}

#form-columns {
    display: flex;
    align-content: space-between;
    align-items: stretch;
    gap: 100px;
    margin: 30px 0px;
}

#left-form, #right-form {
    display: flex;
    flex-direction: column;
    flex: 1; 
    gap: 20px; 
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: inherit;
    font-size: var(--font-h1);
    font-weight: 700;
    width: 380px;
    height: 80px;
    border-radius: 15px;
    background-color: violet;
    color: aliceblue;
}

