@font-face {
    font-family: "typewriter";
    src: 
        url(./fonts/veteran_typewriter-webfont.woff2) format("woff2"),
        url(./fonts/veteran_typewriter-webfont.woff) format("woff");
        font-weight: normal;
        font-style: normal;
}

:root {
    --font-logo: clamp(1.5rem, 2vw + 1rem, 5rem);
    --font-h1: clamp(1rem, 1rem + 1vw, 3rem);
    --font-p: clamp(0.9rem, 0.5vw + 0.6rem, 2rem);
}

* {
    margin: 0;
    padding: 0;
    burder: 1px solid red;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-width: 750px;
    background-color: yellow;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-container {
    position: relative;
    background-color: pink;
    height: 100vh;
    width: 33vw;
}

.image-container img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.logo {
    display: flex;
    position: absolute;
    background-color:rgba(0, 0, 0);
    opacity: 1;
    top: 10vh;
    width: 100%;
    height: 120px;
}

.logo img {
    object-fit: scale-down;
    flex: 0 0 33.3%;
    height: 100%;
    background-color: green;
    padding: 10px 15px;
}

.logo #brand {
    display: flex;
    font-family: "typewriter";
    letter-spacing: 4px;
    color: aliceblue;
    font-size: var(--font-logo);
    font-weight: 800;
    text-align: center;
    margin: auto;

    overflow: hidden;
}

.body-container {
    background-color: blueviolet;
    width: 67vw;
    overflow: auto;
}

.text-container {
    display: flex;
    padding: 5vh 4vw;
    height: 180px;
    flex-direction: column;
    background-color: brown;
}

h1 {
    font-size: var(--font-h1);
    padding-bottom: 3vh;
}

.text-container p {
    font-size: var(--font-p);
    padding: 10px 0 0 0;
}


.form-container {
    background-color: greenyellow;
}

form {
    display:flex;
    background-color: lightblue;
    font-size: var(--font-p);
    flex-direction: column;
}

form > div {
    width: 650px;
    /*! background-color: blue; */
    margin: auto;
    padding: 30px 0px;
    height: inherit;
}

label,
input,
select {
    display: block;
    width: 310px;
    height: 30px;
    box-sizing: border-box;
    font-size: inherit;
    border-color: #75757770;
}

label {
    height: 20px;
}

#form-columns div {
    margin-bottom: 25px;
}
select {
    xappearance: none;
}

.form-element > span {
    color: red;
    font-size: 60%;   
}

#form-columns {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
    justify-content: space-between;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: var(--font-h1);
    font-weight: 500;
    width: 200px;
    height: 50px;
    margin-right: auto;
    border-radius: 10px;
    background-color: violet;
    color: aliceblue;
}

input:valid, select:valid {
    border-color: blue;
}

input:focus:invalid, select:focus:invalid{
    border-color: red; 
}
